<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="seml"
			id="org.xtext.seml.SeML"
			name="SeML Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.xtext.seml.SeML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.xtext.seml.SeML.validate">
		<activeWhen>
			<reference
					definitionId="org.xtext.seml.SeML.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.xtext.seml.SeML.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.xtext.seml.SeML.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.xtext.seml.SeML.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="org.xtext.seml.SeML" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
		<definition id="org.xtext.seml.SeML.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="org.xtext.seml.SeML" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.xtext.seml.SeML"
			name="SeML">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
		</page>
		<page
			category="org.xtext.seml.SeML"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.xtext.seml.SeML.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
		</page>
		<page
			category="org.xtext.seml.SeML"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.xtext.seml.SeML.templates"
			name="Templates">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.xtext.seml.SeML"
			name="SeML">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.xtext.seml.ui.keyword_SeML"
			label="SeML"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="org.xtext.seml.SeML.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
 <command
       defaultHandler="org.rass.implementation.ImplementationHandler"
       description="Run external implementation tools"
       id="org.xtext.seml.SeML.implement"
       name="Implement">
 </command>
 <command
       defaultHandler="org.rass.restrictions.OptionsHandler"
       description="All quickfixes are generated but none is tested"
       id="org.xtext.seml.SeML.QuickfixFast"
       name="Fast">
 </command>
 <command
       defaultHandler="org.rass.restrictions.OptionsHandler"
       description="All quickfixes are generated and tested"
       id="org.xtext.seml.SeML.QuickfixSmart"
       name="Smart">
 </command>
 <command
       defaultHandler="org.rass.restrictions.OptionsHandler"
       description="Check is executed on editing, save/build and on request."
       id="org.xtext.seml.SeML.ValidationFast"
       name="FastVal">
 </command>
 <command
       defaultHandler="org.rass.restrictions.OptionsHandler"
       description="Check is executed on save/build and request only."
       id="org.xtext.seml.SeML.ValidationNormal"
       name="NormalVal">
 </command>
 <command
       defaultHandler="org.rass.restrictions.OptionsHandler"
       description="Check is executed on request only."
       id="org.xtext.seml.SeML.ValidationExpensive"
       name="ExpensiveVal">
 </command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.xtext.seml.SeML.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="org.xtext.seml.SeML.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
    <command
          commandId="org.xtext.seml.SeML.implement"
          style="push"
          tooltip="Run external implementation tools">
    </command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtext.seml.SeML.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtext.seml.SeML.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.xtext.seml.SeML.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
  <menuContribution
        locationURI="menu:org.eclipse.ui.main.menu">
     <menu
           label="SeML">
        <command
              commandId="org.xtext.seml.SeML.implement"
              style="push"
              tooltip="Run external implementation tools">
        </command>
        <menu
              label="QuickFix Mode">
           <command
                 commandId="org.xtext.seml.SeML.QuickfixFast"
                 style="radio"
                 tooltip="All quickfixes are generated but none is tested">
           </command>
           <command
                 commandId="org.xtext.seml.SeML.QuickfixSmart"
                 style="radio"
                 tooltip="All quickfixes are generated and tested">
           </command>
        </menu>
        <menu
              label="Validation Mode">
           <command
                 commandId="org.xtext.seml.SeML.ValidationFast"
                 style="radio"
                 tooltip="Check is executed on editing, save/build and on request.">
           </command>
           <command
                 commandId="org.xtext.seml.SeML.ValidationNormal"
                 style="radio"
                 tooltip="Check is executed on save/build and request only.">
           </command>
           <command
                 commandId="org.xtext.seml.SeML.ValidationExpensive"
                 style="radio"
                 tooltip="Check is executed on request only.">
           </command>
        </menu>
     </menu>
  </menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtext.seml.SeML.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.xtext.seml.SeML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="seml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="seml">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.xtext.seml.SeML -->
	<extension
			id="seml.check.fast"
			name="SeML Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="seml.check.normal"
			name="SeML Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="seml.check.expensive"
			name="SeML Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="seml"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.xtext.seml.SeML"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.xtext.seml.SeML.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.xtext.seml.SeML"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.xtext.seml.SeML.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.xtext.seml.SeML.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtext.seml.SeML.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.xtext.seml.SeML.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.xtext.seml.SeML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtext.seml.SeML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.xtext.seml.SeML -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.xtext.seml.ui.seml.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.xtext.seml.ui.seml.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.xtext.seml.ui.seml.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.xtext.seml.SeML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.xtext.seml.SeML.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.xtext.seml.SeML"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.xtext.seml.SeML.refactoring"
			name="Refactoring">
			<keywordReference id="org.xtext.seml.ui.keyword_SeML"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.xtext.seml.SeML.compare.contentViewers"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="seml">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.xtext.seml.SeML.compare.contentMergeViewers"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="seml" label="SeML Compare">
		</viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.xtext.seml.SeML.editors.documentProviders"
			class="org.xtext.seml.ui.SeMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="seml">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="seml"
			type="text">
		</fileTypes>
	</extension>
</plugin>
